@charset "utf-8";

body {
    font-family: "Times New Roman",
        "YuMincho",
        "Hiragino Mincho ProN",
        "Yu Mincho",
        "MS PMincho",
        serif;
    font-size: 14px;
}

.inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    width: 86.48%;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 40px 40px;
    font-weight: bold;
}

.top {
    background: url(./images/bg_main.png) no-repeat bottom center;
    padding: 240px 0 80px;
}


.top dl {
    background-color: #FFFFFF;
    width: 343px;
    padding: 40px 40px 40px;
}

.top dt {
    margin-bottom: 30px;
    font-size: 18px;
}

.top dd {
    font-size: 36px;
}

.kumon p {
    color: #FFFFFF;
    background-color: #72C9F3;
    padding: 8px 15px 8px;

}

@media(min-width:640px) {}